@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap')
@import variables.sass

#app
    background: $black
    padding: 2rem
    max-width: 1500px
    box-sizing: border-box
    margin: auto

    // Prevents arrow icon svg from resizing
    .arrow-icon
        min-width: 32px
        max-width: 32px